<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                
            </tr>
            <!--Posso scrivere anche th:text="${book.getId()}"-->
            <tr th:each="author : ${authors}">
                <td th:text="${authors.getId()}">1</td>
                <td th:text="${authors.name}">example</td>
                <td th:text="${authors.surname}">example2</td>
                
            </tr>
    </table>
</body>

</html>